<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_hive"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyHive"
        tools:targetApi="31">
        <activity
            android:name=".ParticipantRegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_participant_registration"
            android:theme="@style/Theme.StudyHive" />
        <activity
            android:name=".ParticipantListActivity"
            android:exported="false"
            android:label="@string/title_activity_participant_list"
            android:theme="@style/Theme.StudyHive" />
        <activity
            android:name=".ComposeTEst"
            android:exported="false"
            android:label="@string/title_activity_compose_test"
            android:theme="@style/Theme.StudyHive" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.StudyHive" />
        <activity
            android:name=".ChangePasswordAccountInfoActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpCourseActivity"
            android:exported="true" />
        <activity
            android:name=".SignUp2Activity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".RegistrationTicketActivity"
            android:exported="true" />
        <activity
            android:name=".ParticipantDetailActivity"
            android:exported="true" />
        <activity
            android:name=".AccountInfoActivity"
            android:exported="true" />
        <activity
            android:name=".CourseOverviewActivity"
            android:exported="true" />
        <activity
            android:name=".LandingPageActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
    </application>

</manifest>